body {
  margin: 0;
  text-align: center;
  font-family: 'Crimson Text', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 80px;
  font-family: 'Sacramento', cursive;
  color: #026873;
}

h2 {
  color: #026873;
  font-size: 2em;
}

h3 {
  color: #026873;
}

p {
  color: #556052;
  margin: 0;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  line-height: 2;
}

hr {
  border: dotted #cfd3ce 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #F6F6F6;
  font-family: 'Crimson Text', serif;
    margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.prii {
  border-radius: 100%;
  padding: 10px;
}

.prii:hover {
  background-color: #026873;
}

.top-cloud {
  height: 200px;
  position: absolute;
  right: 200px;
top: 15px;
}

.bottom-cloud {
  height: 200px;
  position: absolute;
  top: 180px;
left: 200px;

}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #F6F6F6;
}

.middle-container {
  background-color: #f1f3f8;
  margin: 0;
}

.bottom-container {
  background-color: #026873;
  padding: 50px 0 20px;
  }

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 50px  auto  60px;
}

.copyright {
  color: grey;
  font-size: 0.85rem;
  padding: 20px 0;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
  padding: 10px;
}

.code-img:hover {
  background-color: #026873;
}

.camera-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
  padding: 10px;
}

.camera-img:hover {
  background-color: #026873;
}

.btn {
  background: #026873;
  background-image: -webkit-linear-gradient(top, #026873, #11999e);
  background-image: -moz-linear-gradient(top, #026873, #11999e);
  background-image: -ms-linear-gradient(top, #026873, #11999e);
  background-image: -o-linear-gradient(top, #026873, #11999e);
  background-image: linear-gradient(to bottom, #026873, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Crimson Text', serif;
  color: #cfd3ce;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #429ca6;
  background-image: -webkit-linear-gradient(top, #429ca6, #63e2f0);
  background-image: -moz-linear-gradient(top, #429ca6, #63e2f0);
  background-image: -ms-linear-gradient(top, #429ca6, #63e2f0);
  background-image: -o-linear-gradient(top, #429ca6, #63e2f0);
  background-image: linear-gradient(to bottom, #429ca6, #63e2f0);
  text-decoration: none;
}
